body {
    margin: 0px;
}

#page-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#map-container, #info-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#map-container {
    display: flex;
    justify-content: center;
    /*overflow-y: hidden;*/
    z-index: 1;
    position: fixed;
}

#map {
    height: 100%;
    width: calc(100vw / 3);
    position: relative;
}

.leaflet-overlay-pane svg {
    transform: none !important;
}



#info-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-block: 50vh;
    /*overflow-y: auto;*/
    /*row-gap: calc(100vh / 2);*/
}

.info-parent {
    display: flex;
    /*margin-block: 100px;*/
}

.info-parent.left {
    justify-content: flex-end;
}

.info-child {
    x: 100px;
    max-width: 33%;
}

.info-content {
    padding: 20px;
}
