:root {
    /*--primary-color: #04182c;*/
    /*--secondary-color-light: #ffb703ff;*/
    /*--secondary-color-dark: #fb8500ff;*/

    --light-blue: #9ad0eaff;
    --med-blue: #219ebcff;
    --dark-blue: #023047ff;
    --tan: #fcd29fff;
    --orange: #a17738ff;
}

body {
    margin: 0px;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('./fonts/Courier_Prime,Inter/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#page-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#map-container, #info-container, #interactives-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#map-container {
    display: flex;
    justify-content: center;
    /*overflow-y: hidden;*/
    z-index: 100;
    pointer-events: none;
    position: fixed;
}

#map {
    height: 100%;
    width: calc(100vw / 3);
    position: relative;
    z-index: 100;
    pointer-events: none;
}

.leaflet-overlay-pane svg {
    /*transform: none !important;*/
}

.track-path {
    fill: var(--tan);
    stroke: var(--dark-blue);
    fill-opacity: .5;
    stroke-width: 5;
}

.track-line-path {
    stroke-width: 5;
}

#map-info-header {
    pointer-events: auto;
    position: absolute;
    width: calc(100vw / 3);
    max-width: calc(100vw / 3);
    overflow-x: clip;
    z-index: 225;
    height: 70px;
    /*background-color: rgba(238, 238, 238, 0.26);*/
    /*backdrop-filter: blur(5px);*/

    display: flex;
    flex-direction: row;

    .center-align {
        text-align: center;
    }


    .map-header-info-parent {
        margin: 5px;
        margin-inline: 2.5px;
        /*margin-top: 5px;*/
        /*border: 1px inset rgba(238, 238, 238, 0.53);*/
        flex-grow: 1;

        background-color: rgba(238, 238, 238, 0.26);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        padding: 10px;

        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.22), -2px -2px 7px rgba(0, 0, 0, 0.22);

        /*font-size: 30px;*/
        color: var(--dark-blue);
        text-size-adjust: auto;
        font-family: "Courier Prime";
        align-content: center;

        .map-header-info-unit {
            font-size: 20px;
        }

        .map-header-info-value {
            font-size: 30px;
        }


    }

    .map-header-info-parent:last-child {
        margin-right: 5px;
        /*border-inline-end: 1px solid black;*/
    }
    .map-header-info-parent:first-child {
        margin-left: 5px;
        /*border-inline-end: 1px solid black;*/
    }

    #date {
        display: flex;
        justify-content: center;
        align-items: center;


        .map-header-info-value {
            width: fit-content;
            height: fit-content;
        }
        /*background-color: pink;*/
    }

    .flip-text:hover {
        /*transform: scale(4,4);*/
        div {

            color: pink !important;
        }
    }

    /*.map-header-info-parent:hover {*/
    /*    background-color: pink;*/
    /*}*/
}


#info-container {
    z-index: 200;
    display: flex;
    pointer-events: none;
    /*display: none;*/
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /*margin-block: 50vh;*/
    /*overflow-y: auto;*/
    /*row-gap: calc(100vh / 2);*/

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#interactives-container {
    pointer-events: none;
    display: flex;
    justify-content: center;
    z-index: 201;
}

.info-parent {
    pointer-events: auto;
    z-index: 100;
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: flex-start;
    /*border: 1px solid grey;*/
    /*margin-block: 100px;*/
}

.info-parent.right {
    justify-content: flex-end;
}

.info-parent:first-child {
    /*margin-top: 100vh;*/
}
.info-parent:last-child {
    margin-bottom: 100vh;
}

.info-parent.full-page {
    z-index: 250;
}

.title-content {
    z-index: 250;
}

.info-parent:not(.hurricane-track) {
    background-color: white;
}

.title-text {
    position: absolute;
    bottom: 20px;
    min-width: 66.66vw;
    background-color: var(--dark-blue);
    padding-inline: 50px;
    padding-block: 20px;

    h1 {
        font-size: 45px;
        margin: 0px;
        color: var(--tan);
        font-family: Roboto;
    }

    h2 {
        font-size: 30px;
        font-style: italic;
        margin: 0px;
        margin-left: 25px;
        color: white;
    /*var(--secondary-color-dark);*/
        font-family: Roboto;
    }
}


.title-page {
    /*background-color: antiquewhite;*/
    z-index: 250;
}
#title-page-map {
    pointer-events: none;
    z-index: 250;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(2px);
}


/*.info-parent*/

.info-child {
    /*x: 100px;*/
    max-width: 33%;
}

.info-content {
    padding: 20px;
}
